.orbital-close-button {
  cursor: pointer;
  position: absolute;
  top: 20px;
  right: 20px;
}

.orbital-modal-container {
  background-color: white;
  border-radius: 10px;
  width: 100%;
  max-width: 400px;
  padding: 20px;
  box-shadow: 0 5px 20px rgba(0, 0, 0, 0.2);
  display: flex;
  flex-direction: column;
  position: fixed;
  top: 50%;
  left: 50%;
  height: 580px;
  transform: translate(-50%, -50%);
  z-index: 99999;
}

.orbital-modal-header {
  font-size: 20px;
  font-weight: 700;
  color: #000;
  text-align: center;
  margin-bottom: 20px;
}

.orbital-button-container {
  display: flex;
  justify-content: flex-start;
  align-items: center;
  align-self: stretch;
  flex-grow: 0;
  width: 100%;
  height: fit-content;
  position: relative;
  gap: 8px;
  height: 45px;
  padding: 4px;
  border-radius: 6px;
  background: #e5e5e5;
  margin-bottom: 20px;
}

.orbital-button {
  padding: 8px 12px;
  border-radius: 5px;
  cursor: pointer;
  border: none;
  font-size: 14px;
  width: 50%;
  font-size: 14px;
  font-weight: 700;
  margin-top: 10px;
  margin-bottom: 10px;
}

.orbital-button-primary {
  background-color: #4285f4;
  color: white;
}

.orbital-button-secondary {
  background-color: #f0f0f0;
  color: #333;
}

.orbital-qr-container {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 20px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-bottom: 15px;
}

.orbital-qr-code {
  width: 200px;
  height: 200px;
  margin-bottom: 10px;
}

.orbital-qr-text {
  color: #777;
  font-size: 16px;
  font-weight: 700;
  text-align: center;
}

.orbital-order-details {
  background-color: #f6f6f6;
  border-radius: 5px;
  padding: 15px;
  margin-bottom: 15px;
}

.orbital-order-id {
  display: flex;
  justify-content: center;
  gap: 10px;
  margin-bottom: 5px;
}

.orbital-order-id-label {
  font-weight: 600;
  color: #333;
  font-size: 16px;
}

.orbital-order-id-value {
  color: #777;
  font-weight: 600;
  font-size: 16px;
}

.orbital-company-email {
  color: #777;
  font-size: 16px;
  text-align: center;
  font-weight: 600;
}

.orbital-loader {
  width: 50px;
  height: 50px;
  border: 5px solid #f3f3f3;
  border-top: 5px solid #4285f4;
  border-radius: 50%;
  animation: spin 2s linear infinite;
  margin: 50px auto;
}

.orbital-email-input {
  width: 100%;
  padding: 12px;
  border: 2px solid #afafaf;
  border-radius: 5px;
  margin-bottom: 15px;
  color: #000;
  font-size: 16px;
  font-weight: 600;
  background: #f2f2f2;
}

.orbital-message {
  display: flex;
  align-items: center;
  gap: 8px;
  margin-bottom: 15px;
}

.orbital-email-input-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.orbital-email-input-icon {
  display: flex;
  margin-top: 40px;
  margin-bottom: 12px;
  align-items: center;
  justify-content: center;
}

.orbital-email-input-text {
  font-size: 16px;
  font-weight: 600;
  width: 273px;
  text-align: center;
  display: flex;
  color: #908b8b;
  margin-bottom: 20px;
}

.orbital-message-success {
  color: #34a853;
}

.orbital-message-error {
  color: #ea4335;
}

.orbital-message-text{
  font-size: 14px;
  font-weight: 600;
}

.orbital-message-icon {
  font-size: 18px;
}

.orbital-footer-text {
  font-size: 12px;
  color: #777;
  font-weight: 600;
  text-align: center;
  margin-top: 10px;
}


.orbital-status-message {
  font-size: 16px;
  font-weight: 600;
  text-align: center;
  margin-bottom: 10px;
  color: #787575;
}

.orbital-status-message.orbital-status-message-paid{
  color: #34a853;
}

.orbital-status-message.orbital-status-message-expired {
  color: #ea4335;
}

@keyframes spin {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

/* Mobile responsiveness */
@media (max-width: 480px) {
  .orbital-modal-container {
    max-width: 90%;
  }
}
